.App body {
  font-family: "Oxygen", sans-serif;
}

.App button {
  font-family: "Oxygen", sans-serif;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 12px;
}

.App div {
  text-transform: capitalize;
}

.App img {
  display: block;
  margin: 0 auto;
}

.App form {
  text-align: center;
}
.App h1 {
  text-align: center;
  font-family: "Oxygen", sans-serif;
  font-size: 48px;
  padding-top: 20px;
  color: #706a8a;
  font-weight: bold;
}

.App h2 {
  font-family: "Oxygen", sans-serif;
  background: white;
  border-style: solid;
  border-color: #fed28f;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 0 auto;
  height: fit-content;
  text-align: center;
  display: block;
  font-size: 40px;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.App h3 {
  border: 1px, solid, #e78678;
}

.App h4 {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.App img {
  color: #e78678;
}

.card {
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  border-color: #706a8a;
  border-style: solid;
  border-radius: 20px;
  border-width: 1.8px;
}

.card-title {
  font-size: 30px;
  color: #706a8a;
}
.citySearch {
  text-align: center;
  padding-bottom: 40px;
}

.link {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.search:hover {
  background: #8f8787;
  border: #8f8787;
  font-weight: bold;
  font-size: 10px;
  margin: 0 auto;
}

.temperature-description {
  line-height: 1.8;
}

.today-details {
  font-size: 24px;
}

.today-weather {
  font-size: 18px;
  color: rgb(141, 134, 134);
}
